## .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json
appsettings.Local.json

## Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

## Env & secrets
.env
.env.local
*.pfx

## OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/

## Logs
logs/
*.log

## SQL data volume (local)
.data/
mssql-data/
